<body>
<h1>About</h1>

<h1>Thankly - the best way to send appreciations</h1>

<div>
  <p>
    Welcome to Thankly! Here you can:
    <li>send/get a thank you message</li>
    <li>give/get a props</li>
    <li>see to whom are thankfull your friends</li>
  </p>
</div>
</body>
