<div class="jumbotron">
<h1>Thankly - the best way to send appreciations</h1>

  <div>
    <p>
      Welcome to Thankly! Here you can:
      <ul>
      <li>send/get a thank you message</li>
      <li>give/get a props</li>
      <li>see to whom are thankfull your friends</li>
    </ul>
      <button class="btn btn-info">
        <%= link_to 'Sign UP', page_path('sign-up') %>
      </button>
    </p>
  </div>
</div>
