<%= content_for :page_title, 'Welcome thankly home' %>
<div class="center jumbotron">
<h1>Thankly - the best way to send your appreciations</h1>

  <div>
    <div>
      <p>Welcome to Thankly!<p>
        <p>Here you can:</p>
        <p><small>send/get a thank you message<small></p>
        <p><small>give/get a props<small></p>
        <p><small>see to whom are thankfull your friends<small></p>
    </div>
      <button class="btn btn-info">
        <%= link_to 'Sign UP', page_path('sign-up') %>
      </button>
    </p>
  </div>
</div>
