<%= content_for :page_title, 'Sign-up to thankly' %>
<div class="center jumbotron">
<h1>Sign Up!</h1>
<div id="sign-up">
  <p>Choose your way to sign up:</p>
    <p>Facebook</p>
    <p>Google</p>
</div>
